.home-page p { 
	font-size: 22px; 
}

.stamp {
    transform: rotate(12deg);
	  color: #c44536;
	  font-size: 3rem;
	  font-weight: 700;
	  position: relative; 
	  cursor: pointer;
	  top: 140px;
	  left: -400px;
	  border: 0.25rem solid #c44536;
	  display: inline-block;
	  padding: 0.25rem 1rem;
  	  text-transform: uppercase;
	  border-radius: 1rem;
	  font-family: 'Garamond';
	  -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
      -webkit-mask-size: 944px 604px;
      mix-blend-mode: normal;
	  transition: transform .2s ease, background-color .2s ease, color .2s ease;
}

.stamp:hover {
	transform: rotate(12deg) translate (5px, -5px);
	color: #222;
	border-color: #222;
}

.stamp:active {
	transform: rotate(12deg) scale(0.95);
}
