.home-page p { 
	font-size: 22px; 
}

.stamp {
    transform: rotate(12deg);
	  color: #c44536;
	  font-size: 3rem;
	  font-weight: 700;
	  position: relative; 
	  cursor: pointer;
	  top: 140px;
	  left: -400px;
	  border: 0.25rem solid #c44536;
	  display: inline-block;
	  padding: 0.25rem 1rem;
  	  text-transform: uppercase;
	  border-radius: 1rem;
	  font-family: 'Garamond';
	  -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
      -webkit-mask-size: 944px 604px;
      mix-blend-mode: normal;
	  transition: transform .2s ease, background-color .2s ease, color .2s ease;
}

.stamp:hover {
	transform: rotate(12deg) translate (5px, -5px);
	color: #222;
	border-color: #222;
}

.stamp:active {
	transform: rotate(12deg) scale(0.95);
}

.old-card { 
	background: #f8f3e6; 
	padding: 45px; 
	border: 2px solid #bfa98a; 
	max-width: 700px; 
	margin: 60px auto; 
	font-family: "Baskerville", serif; 
	color: #4a3b2a; 
	position: relative; 
	box-shadow: 0 0 0 8px #e8dcc4, 0 12px 30px rgba(0,0,0,0.15); 
	margin-bottom: 40px; /* space between cards */ 	
	right: -12px; 
	border-left: none; 
} 

.old-card::before, .old-card::after {
	content: ""; 
	position: absolute; 
	width: 40px;
	height: 40px; 
	border: 2px solid #bfa98a;
	border-radius: 4px;
} 

.old-card::before {
	top: -12px; 
	left: -12px; 
	border-right: none; border-bottom: none; 
} 

.old-card::after {
	bottom: -12px;
}

.list { 
	padding: 40px 0; 
}
