.home-page p { 
	font-size: 22px; 
}

.stamp {
    transform: rotate(12deg);
	  color: #c44536;
	  font-size: 3rem;
	  font-weight: 700;
	  position: relative; 
	  top: 140px; /* down */
	  left: 0px;
	  border: 0.25rem solid #c44536;
	  display: inline-block;
	  padding: 0.25rem 1rem;
  	  text-transform: uppercase;
	  border-radius: 1rem;
	  font-family: 'Garamond';
	  -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
      -webkit-mask-size: 944px 604px;
      mix-blend-mode: normal;
}
